meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
script(src='https://kit.fontawesome.com/84be3591b7.js')
link(rel="stylesheet", href="/css/normalize.css")
link(rel="stylesheet", href="/css/app.css")
title #{nombrePagina}